<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name=".RegexPreviewActivity"
            android:label="Regular Expression Preview"
            android:theme="@style/Theme.AndroidIDE.NordicFrost"
            android:exported="true"> 
        </activity>
        <activity
            android:name=".RailroadDemoActivity"
            android:exported="true"
            android:label="Railroad Test" 
            android:taskAffinity=".RailroadTestTask">
            
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>